<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android_gimnasio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_sf"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_sf"
        android:supportsRtl="true"
        android:theme="@style/Theme.Androidgimnasio"
        tools:targetApi="31">
        <activity
            android:name=".presentation.ui.splash.SplashScreenActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.ui.matricula.GymSedeDetailActivity"
            android:exported="false"
            android:label="@string/title_activity_gym_sedes"
            android:theme="@style/Theme.Androidgimnasio" />
        <activity
            android:name="com.example.android_gimnasio.presentation.ui.home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_principal"
            android:theme="@style/Theme.Androidgimnasio" />
        <activity
            android:name=".presentation.ui.welcome.WelcomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Androidgimnasio"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GOOGLE_MAPS_API_KEY}" />
    </application>

</manifest>